"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "background-tips"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "dracula-syntax"
    ]
    ignoredNames: [
      ".git"
    ]
  editor:
    fontFamily: "mononoki"
    showInvisibles: true
    softWrap: true
  minimap:
    absoluteMode: true
  welcome:
    showOnStartup: false
  "tree-view":
    hideIgnoredNames: true
